.row::after{
  content: '';
  display: table;
  clear: both;
}

.row>[class*="col-"]{
  margin: 0 auto;
}

.row .row::after{
  content: '';
  display: table;
  clear: both;
}

.row h3{
  font-size: 40px;
}

.row h5{
  font-size: 30px;
}

.font-10{
  font-size: 100px;
}

.pad-20{
  padding: 20px;
}

.pad-bot-30{
  padding-bottom: 30px;
}

.img-size-200{
  height: 200px;
}

.img-size-150{
  height: 150px;
}

.row{
  text-align: center;
  max-width: 1170px;
  margin: auto;
}

.row .row{
  text-align: center;
}

.bg-lightgrey{
  background-color: #f9f9f9;

}

.m-top-30{
  margin-top: 30px;
}

.bordo{
  background-color: #428bca;
  border-radius: 50%;
}